body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.brand {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: #343434;
  letter-spacing: 1px;
  margin-top: 3px;
  font-size: 30px;
}

.navbar {
  background-color: #ffffff;
  padding: 0.3%;
}

.logo {
  max-height: 40px;
  margin-right: 6px;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  margin-top: 3%;
  padding: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 25px;
}

nav {
  box-shadow: 0 0px 38px rgba(0,0,0,0.30), 0 0px 12\px rgba(0,0,0,0.22);
}

.submit-btn {
  width: 100%;
  margin-top: 5%;
  color: #fff;
  background: #f6991d;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #f6991d;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.submit-btn:hover {
  background: #f6991d;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.submit-btn:active {
  border: 0;
  transition: all .2s ease;
}

.option {
  background-color: #ffffff;
  color: #737373;
}

.form-group-label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #ab6407;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #f6991d;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #f8b154;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #311d02;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #ab6407;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.card-columns {
  margin: auto auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-center {
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  font-size: x-large;
}

#ID {
  padding: 1% 0;
  border-radius: 25px;
  border: 1px solid #3a3838ec;
}

.card-body {
  width: 100%;
}

.form-horizontal {
  width: inherit;
}

html, body {
  height: 90%;
} 
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

body {
  background-color: whitesmoke;
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");

}
  