{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Reader</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
</head>
<body>    
    <nav class="navbar navbar-expand-sm bg-light justify-content-center">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="brand" href="#" style="text-decoration: none;">
                <img src="{% static 'image/halleyx_logo.png' %}" alt="" class="logo">
                  <span>Halleyx</span>
                  <span style="font-size: small;">challenge</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-center">
                    <span>Document Reader</span>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>