{% extends 'base.html' %}

{% block content %}

    <div class="main">
        <div class="wrapper">
            <div class="card-columns">
                <div class="card col-md-5" id="ID">
                    <div class="card-body text-center">
                        {% for image in ui.images %}
                            <img src="/media/{{image}}" alt="" width="35%"> <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="card col-md-5">
                    <div class="card-body text-center">
                        <form class="form-horizontal" action="submission">
                            {% csrf_token %}
                          {% for key, value in info.items %}
                            <div class="form-group">
                              <label class="control-label col-sm-2" for="email">{{key}} :</label>
                              <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" value="{{value}}">
                              </div>
                            </div>
                          {% endfor %}
                          <button class="submit-btn btn-warning" id="submit-btn-details" type="submit" style="width: 25%; margin-left: 20%; margin-top: -10%">Submit</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function changeColor() {
            document.body.style.backgroundColor = "{{ui.color}}";
        }
        changeColor();
    </script>

    
{% endblock %}