{% extends 'base.html' %}
{% load static %}
{% block content %}

    <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    
    <div class="file-upload">
    <form method="POST" enctype="multipart/form-data" action="details">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="ID" class="form-group-label">Select ID proof:</label>
            <select class="form-control btn-warning" id="ID" name="selection">
              <option class="option" {% if selection == "Aadhar Card" %} selected {% endif %}>Aadhar Card</option>
              <option class="option" {% if selection == "Pan Card" %} selected {% endif %}>Pan Card</option>
              <option class="option" {% if selection == "Driving License" %} selected {% endif %}>Driving License</option>
              <!-- <option class="option disabled" {% if selection == "Passport" %} selected {% endif %}>Passport</option> -->
            </select>
          </div>

        <div class="image-upload-wrap">
            
            <input class="file-upload-input" type='file' multiple="multiple" name="document" />
            
            <div class="drag-text">
            <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>
        <button class="submit-btn btn-warning" type="submit">Submit</button>
    </form>
    </div>

    <script>
        function changeColor() {
            document.body.style.backgroundColor = "{{color}}";
        }
    </script>

    

{% endblock %}